
# Server
HOST=0.0.0.0
PORT=1337
CLIENT_DOMAIN='localhost'

# Secrets
APP_KEYS=mKycBFX03N+j3IsgClv95w==,gn9d5qun7IwhX3672VD1iQ==,NjN5LNogblhWksQgcq0L0w==,OrjuSpLBIXN3ZmdsFbnBfg==
API_TOKEN_SALT=t/9f7Xp9XNyWqhR/jnW5IQ==
ADMIN_JWT_SECRET=FKJC1cY03xnwORj7rB+UlQ==
TRANSFER_TOKEN_SALT=ZvPVwd3nDkirvKQWpY9z+A==
ENCRYPTION_KEY=kHWulpJoXEWuyeylPAXAPg==
JWT_SECRET=eb785f47851292bd0ac88171758e4aebc2c114d5ae46f222f3254b7d6ace63ce

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=paroquiAuto
DATABASE_USERNAME=paroquiAuto
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_FILENAME=

# SMTP Config
SMTP_LOGIN='a2a3f8001@smtp-brevo.com'
SMTP_PASSWORD='EMbOj1WFPYvNC2QD'
SMTP_SERVER='smtp-relay.brevo.com'
SMTP_PORT=587
